<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Google</title>
    <link rel="icon" href="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" type="image/png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    現在のapiサーバー<br>
    Youtube-API:{{Youtube_API}}<br>
    Channel-API:{{Channel_API}}<br>
    Comments-API:{{Comments_API}}<br>
    <script>setTimeout(function (){location.reload();},5000)</script>
</body>
</html>
